---
name: Production Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: changemeinprod!
          MYSQL_DATABASE: productDB
          MYSQL_USER: mysql
          MYSQL_PASSWORD: changemeinprod!
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build project
        run: mvn clean package -DskipTests

      - name: Run Tests
        run: mvn test

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t product:1.0.0 .
          docker tag product:1.0.0 ${{ secrets.DOCKER_USERNAME }}/product:1.0.0

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/product:1.0.0

      - name: Deploy to Production Server
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > product_key.pem
          chmod 600 product_key.pem
          ssh -o StrictHostKeyChecking=no -i product_key.pem ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/product:1.0.0
            sudo docker stop product || true
            sudo docker rm product || true
            sudo docker run -d \
              --name product \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/product:1.0.0
          EOF
